@prefixClass: rc-slider;

@disabledColor: #ccc;
@border-radius-base: 6px;
@primary-color: #2db7f5;
@ease-out-quint      : cubic-bezier(0.23, 1, 0.32, 1);
@ease-in-quint       : cubic-bezier(0.755, 0.05, 0.855, 0.06);
@rail-height: 4px;

.borderBox() {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); //  remove tap highlight color for mobile safari

  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); //  remove tap highlight color for mobile safari
  }
}

.@{prefixClass} {
  position: relative;
  padding: 5px 0;
  width: 100%;
  border-radius: @border-radius-base;
  .borderBox();

  &-rail {
    position: absolute;
    top: 50%;
    height: @rail-height;
    margin-top: -(@rail-height/2);
    width: 100%;
    background-color: #e9e9e9;
  }

  &-track {
    position: absolute;
    top: 50%;
    height: @rail-height;
    margin-top: -(@rail-height/2);
    border-radius: @border-radius-base;
    background-color: tint(@primary-color, 60%);
  }

  &-handle {
    position: absolute;
    top: 50%;
    margin-top: -7px; 
    margin-left: -7px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    border-radius: 50%;
    border: solid 2px tint(@primary-color, 50%);
    background-color: #fff;

    &:hover {
      border-color: tint(@primary-color, 20%);
    }
    &-active {
      &:active {
        border-color: tint(@primary-color, 20%);
        box-shadow: 0 0 5px tint(@primary-color, 20%);
      }
    }
  }

  &-mark {
    width: 100%;
    font-size: 12px;

    display: flex;
    justify-content: space-between;
  }

  &-mark-text {
    flex: 1;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color: #999;

    &-active {
      color: #666;
    }

    &:first-child {
      transform: translateX(-50%);
    }
    &:last-child {
      transform: translateX(50%);
    }
  }

  &-scale {
    position: relative;
    width: 100%;
    background: transparent;

    display: flex;
    justify-content: space-between;
  }

  &-dot-wrapper {
    z-index: 0;

    &:first-of-type {
      transform: translateX(-50%);
    }

    &:last-of-type {
      transform: translateX(50%);
    }
  }

  &-dot {
    display:inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    margin-top: -2px;
    border: 2px solid #e9e9e9;
    background-color: #fff;
    cursor: pointer;
    border-radius: 50%;

    &-active {
      border-color: tint(@primary-color, 50%);
    }
  }

  &-disabled {
    background-color: #e9e9e9;

    .@{prefixClass}-track {
      background-color: @disabledColor;
    }

    .@{prefixClass}-handle, .@{prefixClass}-dot {
      border-color: @disabledColor;
      background-color: #fff;
      cursor: not-allowed;
    }

    .@{prefixClass}-mark-text, .@{prefixClass}-dot {
      cursor: not-allowed!important;
    }
  }
}
